<html>
<head>
    <title>Panel de administración de empresas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Border Layout Example</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}search_engine/scripts/ext-4.0.7-gpl/resources/css/ext-all.css" />
    <script type="text/javascript" src="{{MEDIA_URL}}search_engine/scripts/ext-4.0.7-gpl/bootstrap.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}search_engine/scripts/layout.js"></script>
    
</head>
<body>
    
</body>
</html>
