<html>
<head>
    <title>Panel de administración de empresas</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}search_engine/styles/main.css" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("search", "1");
    </script>
    
    <script type="text/javascript">
        function pantallaCompleta(){
            if(!$("body").hasClass("fullscreen")){
                $("body").addClass("fullscreen");
                $("#company-preview").css("width","100%")
                $("#company-preview button").text("Salir de la pantalla completa")
                var max_height=$("body").height()-80;
                console.log(max_height)
                $("iframe,#no-iframe").height(max_height)
            }else{
                $("body").removeClass("fullscreen");
                $("iframe,#no-iframe").height(500)
                $("#company-preview").css("width","70%")
                $("#company-preview button").text("Salir de la pantalla completa")
            }
        }
        function setURL(url){
            console.log(url)
            $("dd.web input").val(url);
            saveChanges();
        }
        function getDomain(url){
            return url.match(/:\/\/(www\.)?(.[^/:]+)/)[2];
        }
        searchWhois = function(){
            $.ajax({
                url: 'whois/',
                type: "POST",
                data: { domain: $("#whois-value").val()},
                success: function(data) {
                    x=data;
                    $("#whois-text").html("<strong>Text:</strong> "+data[0]['text'].replace(/\n/g, '<br />'))
                    $("#whois-emails").html("<strong>Emails:</strong> "+data[0].emails.join(" "))
                }}
            );
            $("#no-iframe").show();
            $("#preview").hide();
        }
        
        var btn_search= function(){
            google_search($("#googleSearch").val());
        }
        

        google_search = function(query){
            $("#googleSearch").val(query)
            $.ajax({
                url: 'google/',
                type: "POST",
                data: { query: query},
                success: function(data) {
                    var root=$("#no-iframe ul");
                    root.empty();
                    $.each(data, function (i,elem){
                        root.append("<li><h3><a href=\"#\" onclick=\"cargarFrame('"+elem['href']+"')\">"+elem['title']+"</a></h3><span class=\"link\">"+elem['href']+"<button onclick='setURL(\""+elem['href']+"\")'>Establecer como predeterminada</button></span>"+elem['desc']+"</li>")
                    })
                }}
            );
            $("#no-iframe").show();
            $("#preview").hide();
        }
        ocultarEmpresas = function(url){
            $.each($(".company-state"),function(i,elem){
                if ($(this).find("span").hasClass("tick")){
                    if($(this).parent().is(":visible"))
                        $(this).parent().hide()
                    else
                        $(this).parent().show()
                }
            })
            if($(".company-state .cross").is(":visible"))
                $("#ocultar").text("Ocultar validadas")
            else
                $("#ocultar").text("Mostrar válidadas")
        }

        mostrarEliminadas = function(){
            if($($("tr.ocultada")[0]).is(":visible")){
                $("#mostrarEliminadas").text("Ocultar eliminadas")
                $.each($("tr.ocultada"),function(i,elem){
                    $(this).hide();
                })
            }
            else{
                $("#mostrarEliminadas").text("Mostrar eliminadas")
                $.each($("tr.ocultada"),function(i,elem){
                    $(this).show();
                })
            }
        }

        cargarFrame = function(url){
            $("#preview").attr("src",url);
            $("#no-iframe").hide();
            $("#preview").show();
        }
        cargar = function(obj){
            $("#preview").attr("src",$(obj).attr("data-profile"));
            $("#no-iframe").hide();
            $("#preview").show();
        }
        saveChanges = function(){
            data={}
            data['id']=$("#company-id").val();
            $.each($("#company-details input"), function(i, elem){
                data[$(elem).attr("name")]=$(elem).val();
            });
            $.ajax({
                    url: 'linkedin/save/',
                    type: "POST",
                    data: data,
                    success: function(data) {
                        list_row = $("tr[data-company-id='"+data[0].pk+"']")
                        if(data[0].fields.web && list_row.attr("data-web")==undefined){
                            list_row.attr("data-url",data[0].fields.web);
                            list_row.find("td.url span").removeClass("cross");
                            list_row.find("td.url span").addClass("web");
                            $("dd.web").empty().text(data[0].fields.web)
                        }
                        if(data[0].fields.nombre_contacto == list_row.attr("data-contact-person")==" "){
                            list_row.attr("data-contact-person",data[0].fields.nombre_contacto)
                            list_row.find("td.contacto span").removeClass("cross");
                            $("dd.contact-person").empty().text(data[0].fields.nombre_contacto);
                        }
                            
                        // if(data[0].fields.email.length!=0)
                    }
            });
        }

        var ocultar = function(obj){
            var company_id=$(obj).parent().parent().attr("data-company-id");
            $.ajax({
                url: 'del/',
                type: "POST",
                data: { company_id: company_id},
                success: function(data) {
                    $("tr[data-company-id='"+company_id+"']").hide();
                }
            })
        }

        var validarEmpresa = function(obj){
            var company_id=$(obj).parent().attr("data-company-id");
            $.ajax({
                url: 'validar/',
                type: "POST",
                data: { company_id: company_id},
                success: function(data) {
                    if(data[0].fields.validada==true)
                        $("tr[data-company-id='"+company_id+"'] td.company-state span").removeClass("cross");
                    else
                        $("tr[data-company-id='"+company_id+"'] td.company-state span").addClass("cross");
                }
            })
        }
        var searchEmployees =function(){
            loadEmployees($("#linkedinSearch").val())
        }
        loadEmployees = function (obj){
            var company_name;
            if(!obj)
                company_name = $("#company-details").attr("data-name")
            else
                company_name=obj
            $("#linkedinSearch").val(company_name)
            $("#employees ul").empty();
            $.ajax({
                    url: 'linkedin/',
                    type: "POST",
                    data: { company: company_name},
                    success: function(data) {
                        if(data.length==0){
                            $("#employees ul").append("<li>No se han encontrado datos</li>");
                        }
                        $.each(data,function(i,elem){ 
                            cargo="";
                            for (i=0; i < parseInt(elem['three-current-positions']['total']); i++){
                                pos=elem['three-current-positions']['positions'][i];
                                cargo+=pos['title']+" en "+pos['company']+"<br>";
                            }
                            
                            $("#employees ul").append("<li>"+
                                                        "<strong>Nombre</strong>: <button onclick='cargar(this)' data-profile='"+elem['public-profile-url']+"'>"+elem['first-name']+" "+elem['last-name']+"</button>"+
                                                        "<br><strong>Location</strong>: "+elem['location']['name']+", "+elem['country']+
                                                        "<br><strong>Cargo</strong>: "+cargo+
                                                        "<br><strong>Twitter</strong>:"+elem['primary-twitter-account']+
                                                      "</li>")
                        });
                        
//                        $('#employees').append("<p>"+data+"</p>");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        $("#employees ul").append("<li>"+textStatus+"</li>");
                    }
                });
        }
        $(document).ready(function(){

            $('#googleSearch').bind('keypress', function(e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                console.log(code)
                if(code == 13) { //Enter keycode
                    google_search($("#googleSearch").val());
                }
            });
            $('#linkedinSearch').bind('keypress', function(e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                console.log(code)
                if(code == 13) { //Enter keycode
                    loadEmployees($("#linkedinSearch").val())
                }
            });
            

            $("#empresas tr td.company-name").click(function(){
                obj=$(this).parent();
                var company_name = $(obj).attr("data-name");
                
                $("#company-id").val($(obj).attr("data-company-id"));
                $("#company-details").attr("data-name",company_name);
                $("#company-details .name").text(company_name);
                if($(obj).attr("data-contact-person")!="" && $(obj).attr("data-contact-person")!=" ")
                    $("#company-details .contact-person").text($(obj).attr("data-contact-person"));
                else
                    $("#company-details .contact-person").html('<input name="nombre_contacto" type="text" />');
                    
                $("#company-details .phone").text($(obj).attr("data-telephone"));
                $("#company-details .address").text($(obj).attr("data-address"));
                if($(obj).attr("data-url")){
                    $("#company-details .web").text($(obj).attr("data-url"));
                    $("#whois-value").val(getDomain($(obj).attr("data-url")));
                    searchWhois();
                    
                }else{
                    $("#company-details .web").html('<input type="text" name="web" style="width: 400px;">')
                    $("#whois-value").val("");
                    $("#whois-text").html("<strong>Text:</strong> ")
                    $("#whois-emails").html("<strong>Emails:</strong> ")
                }
                    
                if($(obj).attr("data-url"))
                    $("#company-preview .company-name").text("Web de "+company_name)
                
                    
                if($(obj).attr("data-url")){
                        $("#preview").attr("src",$(obj).attr("data-url"));  
                        $("#no-iframe").hide();
                        $("#preview").show();
                        
                }else{
                    var query=""+company_name+" "+$("#city option:selected").val();
                    google_search(query);
                }
            
                var emails = $(obj).attr("data-email").split(",");
                var hayMails=false;
                $("#company-details .emails ul").empty();
                
                $.each(emails, function(i, elem){
                    if(elem!=""){
                        $("#company-details .emails ul").append("<li>"+elem+"</li>");
                        hayMails=true;
                    }
                });
                loadEmployees();
                if (!hayMails){
                    $("#company-details .emails ul").append('<li><input name="email" type="text" /></li>');
                }
            });
            
            $("#empresas tr td span.web").click(function(){
              $("#preview").attr("src",$(this).parent().parent().attr("data-url"));  
            });
        });
    </script>
</head>
<body>
    <header class="blue contrast">
        <h1>COCOSE - Companies Contacts Search</h1>
        <nav class="clear-blue">
            <button>Empresas</button>
            <button>Scrappers</button>
        </nav>
    </header>
    <section id="company-list" class="onleft">
        <h2 class="blue contrast">Empresas</h2>
        <nav class="clear-blue contrast">
            <form>
                <label>Provincia: </label>
                <select id="city">
                    <option value="sevilla">Sevilla</option>
                </select>
            </form>
            <button onclick="javascript:ocultarEmpresas()" id="ocultar">Ocultar válidadas</button>
            <button onclick="javascript:mostrarEliminadas()" id="mostrarEliminadas">Mostrar eliminadas</button>
        </nav>
        <div id="table-container">
            <table id="empresas">
                <tr>
                    <td>Nombre</td>
                    <td>URL</td>
                    <td>Email</td>
                    <td>Cont.</td>
                    <td>Rev.</td>
                    <td>Elim.</td>
                </tr>
                {% for e in empresas %}
                    <tr
                        data-company-id="{{e.id}}"
                        data-name="{{e.nombre}}"
                        data-email="{% for email in e.email.all%}{{email}}, {%endfor%}"
                        data-contact-person="{{e.nombre_contacto}} {{e.apellidos_contacto}}"
                        data-url="{{e.web}}"
                        data-address="{{e.direccion}}"
                        data-telephone="{{e.telefono}}"
                        data-ocultar="{{e.ocultar}}"
                        {% if e.ocultar %}class="ocultada gris"{% endif %}
                    >
                        <td class="left-align company-name">{{e.nombre}}</td>
                        <td class="url">
                            {% if e.web %}
                                <span class="small-icon icon sprite-imgs web"><span>Url</span></span>   
                            {% else %}
                                <span class="small-icon icon sprite-imgs cross"><span>Url</span></span>   
                            {% endif %}
                        </td>
                        <td>
                            {% if e.email.all|length > 0 %}
                                <span class="small-icon icon sprite-imgs tick"><span>Url</span></span>   
                            {% else %}
                                <span class="small-icon icon sprite-imgs cross"><span>Url</span></span>   
                            {% endif %}
                        </td>
                        <td class="contacto">
                            {% if e.nombre_contacto %}
                                <span class="small-icon icon sprite-imgs tick"><span>Url</span></span>   
                            {% else %}
                                <span class="small-icon icon sprite-imgs cross"><span>Url</span></span>   
                            {% endif %}
                        </td>
                        <td class="company-state" onclick="javascript:validarEmpresa(this)">
                            {% if e.validada %}
                                <span class="small-icon icon sprite-imgs tick"><span>Url</span></span>   
                            {% else %}
                                <span class="small-icon icon sprite-imgs cross"><span>Url</span></span>   
                            {% endif %}
                        
                        </td>
                        <td class="hide-state">
                                <span class="small-icon icon sprite-imgs cross" onclick="javascript:ocultar(this)"><span>Url</span></span>   
                        
                        </td>
                    </tr>
                
                    
                {% endfor %}
            </table>
        </div>
    </section>
    <section id="company-preview" class="onleft">
        <h2 class="blue contrast">Previsualización</h2>
        <nav class="clear-blue contrast">
            <span class="company-name"></span> <button class="onright" onclick="javascript:pantallaCompleta()">Ver a pantalla completa</button>
        </nav>
        <iframe src="" id="preview">
        
        </iframe>
        <div id="no-iframe">
            <h3 class="big">Búsqueda en Google</h3>
            <input type="text" name="searchBox" id="googleSearch">
            <input type="submit" value="Buscar"  onclick="javascript:btn_search()">
            <ul>
            </ul>

      
        </div>
    </section>
    
    <section id="company-details" class="onleft clearleft">
        <h2 class="blue contrast">Detalles de la empresa</h2>
        <nav class="clear-blue contrast">
            <button>Recuperar datos</button>
        </nav>
        <article>
            <dl>
                <dt>Nombre:</dt>
                <dd class="name"></dd>
                
                <dt>Emails</dt>
                <dd class="emails">
                    <ul>
                        <li></li>
                    </ul>
                </dd>
                
                <dt>Persona de contacto</dt>
                <dd class="contact-person"></dd>
                
                <dt>Teléfono</dt>
                <dd class="phone"></dd>
                
                <dt>Dirección</dt>
                <dd class="address"></dd>
                
                <dt>Web</dt>
                <dd class="web"></dd>
                <input type="hidden" id="company-id" value=""/>
            </dl>
            <button class="clear" onclick="javascript:saveChanges()">Guardar cambios</button>
        </article>
    </section>
    <section id="whois-sc" class="onleft">
        <h2 class="blue contrast">Whois</h2>
        <nav class="clear-blue contrast">
            <input type="text" id="whois-value" value="" />
            <button onclick="javascript:searchWhois()">Buscar</button>
        </nav>
        <p id="whois-emails">
        
        </p>
        <p id="whois-text">
        
        </p>
    </section>
    <section id="employees" class="onleft">
        <h2 class="blue contrast">Búsqueda en Linkedin</h2>
        <nav class="clear-blue contrast">
            <input type="text" id="linkedinSearch"> <input type="submit" value="Buscar" onclick="javascript:searchEmployees()">
        </nav>
        <ul>
        </ul>
    </section>
    <footer class="clear">
        Esta aplicación ha sido desarrollada con fines educativos // By <a href="">@hhkaos</a>, <a href="">@jneight</a>
    </footer>
</body>
</html>
